
.menu{
    font-family:'Times New Roman';
    color:firebrick;
    background-color:lightyellow;

    position: absolute;
    top: 10px;
    left: 10px;
    width: 200px;
    height: 150px;


    border: 1px solid black;
    border-radius: 8px 8px 8px 8px;

    
}
.list{
    margin: 0px;
    padding: 5px;
    list-style: none;
    line-height: 1.5;
}
.background{
    position: absolute;
    top: 15px;
    left: 15px;

    width: 200px;
    height: 150px;
    
    background-color:firebrick;
    border-radius: 8px 8px 8px 8px;

}